# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Entornos virtuales
.venv/
venv/
env/

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Temporales de LaTeX (por si se copia algún log)
*.aux
*.log
*.out
